# CORE LIBRARIES
streamlit==1.58.0
pandas==3.0.3
numpy==2.3.3
scikit-learn==1.8.0
joblib==1.5.3
plotly==6.7.0

# DATA CONNECTIVITY & UTILS
python-dotenv==1.2.2
psycopg2-binary==2.9.12
PyMySQL==1.1.3
SQLAlchemy==2.0.48
requests==2.33.1

# ML & ANALYSIS 
xgboost==3.2.0
seaborn==0.13.2
matplotlib==3.10.6
plotly
